* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1250px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}

.bg-pink {
  background-color: rgba(253, 242, 233, 1);
}
/*header*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 50px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.header-nav a {
  font-family: sans-serif;
  font-size: 17px;
  font-weight: 550;
  line-height: 20.15px;
  text-align: left;
  color: rgba(51, 51, 51, 1);
}
header img {
  width: 158px;
  height: 21px;
}
.yellow-btn {
  padding: 8px 28px;
  background-color: rgba(230, 126, 34, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 500;
  line-height: 20.15px;
}
/*sub header*/

.sub-header {
  display: flex;
  align-items: center;
  gap: 150px;
  padding: 60px 0;
}
.food {
  width: 557px;
  height: 550px;
}
.people {
  width: 194px;
  height: 44px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 42px;
}
.info h1 {
  font-family: Rubik;
  font-size: 48px;
  font-weight: 700;
  line-height: 56.88px;
  text-align: left;
  color: rgba(51, 51, 51, 1);
}
.info p {
  font-family: Rubik;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: rgba(85, 85, 85, 1);
}

.btn-box {
  display: flex;
  align-items: center;
  gap: 20px;
}
.customer-box {
  display: flex;
  align-items: center;
  gap: 20px;
}
.white-btn {
  padding: 8px 28px;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(85, 85, 85, 1);
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 500;
  line-height: 20.15px;
}
.info h5 {
  font-family: Rubik;
  font-size: 17px;
  font-weight: 550;
  line-height: 20.15px;
  text-align: left;
  color: rgba(85, 85, 85, 1);
}
.info h5 span {
  color: rgba(230, 126, 34, 1);
}

/*how it works*/

.how-it-works {
  padding: 50px 0;
}
.how-it-works p {
  font-family: Rubik;
  font-size: 14px;
  font-weight: 5560;
  line-height: 16.59px;
  text-align: center;
  color: rgba(136, 136, 136, 1);
  padding-bottom: 30px;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.logos img {
  height: 32px;
}
.title {
  padding: 100px 0;
}
.topic {
  font-family: Rubik;
  font-size: 18px;
  font-weight: 550;
  line-height: 20.15px;
  text-align: left;
  color: rgba(230, 126, 34, 1);
  padding-bottom: 20px;
}

.sub-topic {
  font-family: Rubik;
  font-size: 40px;
  font-weight: 700;
  line-height: 47.4px;
  text-align: left;
  color: rgba(51, 51, 51, 1);
}

.first {
  display: flex;
  gap: 330px;
  margin-top: 60px;
}

.first-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
}

.numbering {
  font-family: Rubik;
  font-size: 72px;
  font-weight: 700;
  line-height: 85.32px;
  text-align: left;
  color: rgba(221, 221, 221, 1);
}
.title-info1 {
  font-family: Rubik;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: rgba(51, 51, 51, 1);
}
.title-info2 {
  font-family: Rubik;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: rgba(85, 85, 85, 1);
}

.square1 {
  width: 324px;
  height: 324px;
  border-radius: 50%;
  background-color: rgba(255, 243, 233, 1);
}

.square2 {
  width: 242px;
  height: 242px;
  background-color: rgba(255, 216, 183, 1);
  border-radius: 50%;
  margin-top: 40px;
  margin-left: 40px;
}

.phone {
  width: 182.45px;
  height: 369px;
  margin-left: 32px;
  margin-top: -67px;
}

/*meals*/
.meals {
  padding: 100px 0;
}
.title-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  gap: 50px;
}
.title-2 {
  padding: 50px 0;
}

li {
  list-style: none;
}

.block {
  width: 323px;
  height: 500px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 1px 15px 4px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
}
.meal-block {
  width: 323px;
  height: 215px;
}
.green-btn {
  background-color: rgba(81, 207, 102, 1);
  color: rgba(51, 51, 51, 1);
  font-size: 13px;
  font-weight: 550;
  line-height: 15.41px;
  border-radius: 25px;
  border: none;
  outline: none;
  padding: 8px 20px;
  margin: 20px 0;
}
.paleo {
  background-color: rgba(242, 201, 76, 1);
  color: rgba(51, 51, 51, 1);
  font-size: 13px;
  font-weight: 550;
  margin-left: 10px;
  border-radius: 25px;
  border: none;
  outline: none;
  padding: 8px 20px;
}

.block h5 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: rgba(51, 51, 51, 1);
  padding-left: 15px;
}

.fire {
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 20px;
}
.star {
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 20px;
}
.spoon {
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 20px;
}
.icon-rectaurant {
  width: 24px;
  height: 24px;
}

.block p {
  font-family: Rubik;
  font-size: 20px;
  font-weight: 400;
  line-height: 22.52px;
  text-align: left;
  color: rgba(85, 85, 85, 1);
}
.block-info {
  text-align: left;
  padding-left: 50px;
}

.diet h2 {
  font-family: Rubik;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: rgba(51, 51, 51, 1);
  padding-bottom: 20px;
}
.diets p {
  font-family: Rubik;
  font-size: 19px;
  font-weight: 400;
  line-height: 22.52px;
  text-align: left;
  color: rgba(85, 85, 85, 1);
}
.diets {
  display: flex;

  gap: 20px;
}
.diets img {
  width: 24px;
  height: 24px;
}
.diet {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

/*testimonials*/

.testimonials {
  background: rgba(253, 242, 233, 1);
  padding: 50px;
}

.testimonials-text {
  display: flex;
  flex-direction: column;
  gap: 90px;
  margin-left: 150px;
}

.title-3 {
  padding-top: 40px;
}
.galery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.div {
  display: flex;
  margin-right: 70px;
}

.galery img {
  width: 205px;
  height: 205px;
}
.review-block {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.div {
  display: flex;
  gap: 30px;
}
.review p {
  width: 247px;
  height: 115px;
  font-family: Rubik;
  font-size: 19px;
  font-weight: 400;
  line-height: 22.52px;
  text-align: left;
  color: rgba(85, 85, 85, 1);
}
.review img {
  width: 64px;
  height: 64px;
  margin-bottom: 20px;
}

.review h6 {
  font-family: Rubik;
  font-size: 17px;
  font-weight: 400;
  line-height: 20.15px;
  text-align: left;
  color: rgba(153, 148, 148, 1);
}

/*PRICING*/
.pricing-blocks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 100px;
}
.pricing {
  padding: 70px;
}
.starter h4 {
  text-align: center;
}
.complete h4 {
  text-align: center;
}

.starter {
  width: 440px;
  height: 553px;
  border-radius: 12px;
  border: 1px solid rgba(255, 216, 183, 1);
  padding-top: 40px;
}
.pricing-blocks p {
  font-family: Rubik;
  font-size: 17px;
  font-weight: 400;
  line-height: 20.15px;
  text-align: center;
  color: rgba(85, 85, 85, 1);
  padding: 15px;
}
.complete {
  width: 440px;
  height: 553px;
  border-radius: 12px;
  background-color: rgba(254, 236, 222, 1);
  padding-top: 40px;
}

.pricing-blocks h1 {
  font-family: Rubik;
  font-size: 56px;
  font-weight: 800;
  line-height: 66.36px;
  text-align: left;
  color: rgba(51, 51, 51, 1);
  text-align: center;
}
.pricing-blocks span {
  font-family: Rubik;
  font-size: 32px;
  font-weight: 500;
  line-height: 37.92px;
  text-align: left;
}

.pricing-blocks li {
  font-family: Rubik;
  font-size: 19px;
  font-weight: 400;
  line-height: 22.52px;
  text-align: left;
  color: rgba(85, 85, 85, 1);
}
.block-ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 25px;
  padding-left: 80px;
}
.pricing-blocks button {
  margin-left: 125px;
  margin-top: 50px;
}
.best-value img {
  position: absolute;
  right: 0px;
  top: -40px;
}

.best-value h3 {
  position: absolute;
  right: -10px;

  display: inline-block;
  transform: rotate(45deg);
}
.best-value {
  position: relative;
}
  /*footer*/

.footer{
  display: flex;
  align-items: start;
  justify-content: space-around;
  gap: 50px;
  padding-bottom: 100px;
}

.footer h6{
  font-family: Rubik;
font-size: 17px;
font-weight: 700;
line-height: 20.15px;
text-align: left;
color: rgba(85, 85, 85, 1);
margin-bottom: 20px;
}


.footer p{
  font-family: Rubik;
font-size: 15px;
font-weight: 400;
line-height: 22px;
text-align: left;
color: rgba(85, 85, 85, 1);
}
.footer a{
  font-family: Rubik;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: rgba(85, 85, 85, 1);
}

.footer-block-1 img{
width: 158px;
height: 21px;
margin-bottom: 20px;

}

.footer ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-p{
  margin-top: 15px;
}


  
